.i-f {
	border: none;
	border-bottom: 1px solid $purple;
	padding: 10px 8px;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: transparent;
	width: 100%;
	height: 42px;
	font-family: $WS-r;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: $black;
	&::placeholder {
		font-family: $WS-r;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		color: $purple;
	}
}
textarea.i-f {
	&::-webkit-scrollbar {
		background: $white2;
		border-radius: 8px;
		width: 7px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(192, 188, 214, 0.6);
		border-radius: 6px;
		height: 8px;
	}
}
