$white: #fff;
$white2:#F6F4FF;

$grey:#C4C4C4;
$grey-lite:#C0BCD6;

$purple:#573CDA;
$purple-hover:#5634F7;
$purple2:#515994;
$purple3:#2A206A;

$green:#1BC082;
$green-hover:#23C89A;

$gradient:linear-gradient(208.1deg, #F6F4FF 7.35%, #E5DDFA 79.61%);;

$box-shadow:6px 6px 64px rgba(0, 0, 0, 0.25);

$A-r:"anton-Regular";
$WS-r:"WorkSans-Regular";
$WS-m:"WorkSans-Medium";
$WS-sb:"WorkSans-SemiBold";


/*---цвета ---*/
* {
	box-sizing: border-box;
}
textarea,
input,
a,
button {
	transition: all 0.2s linear;
	outline: none;
}
button {
	cursor: pointer;
	padding: 0;
	text-decoration: none;
}
a {
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
img {
	width: 100%;
	height: auto;
}
textarea {
	resize: none;
}
figure {
	& figcaption {
		display: none;
	}
}
body.lock {
	overflow: hidden;
}
i {
	transition: all 0.2s linear;
	&::before {
		transition: all 0.2s linear;
	}
}
label {
	position: relative;
}

/*---контейнер сайта ---*/
.container {
	position: relative;
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	@media screen and (max-width: 1440px) {
		max-width: 1280px;
	}
	@media screen and (max-width: 1440px) {
		max-width: 1024px;
	}
	@media screen and (max-width: 1024px) {
		max-width: 768px;
	}
	@media screen and (max-width: 768px) {
		max-width: 100%;
		padding: 0 10px;
	}
}
/*---контейнер сайта ---*/
.bg-site {
	background-color: $white;
	padding: 320px 0 0;
	box-sizing: border-box;
	@media screen and (max-width: 1024px) {
		padding: 120px 0 0;
	}
}