.content-features {
	margin: 130px 0 130px;
	@media screen and (max-width: 1024px) {
		margin: 40px 0 30px;
	}
	@media screen and (max-width: 580px) {
		margin: 30px 0 30px;
	}
	&-title {
		width: 100%;
		margin-bottom: 50px;
	}
	&-text {
		padding: 35px 10px 55px 10px;
		@media screen and (max-width: 580px) {
			padding: 35px 0 55px 0;
		}
		& h3 {
			margin-bottom: 30px;
		}
	}
	&-img {
		background: $gradient;
		display: flex;
		justify-content: center;
		padding: 30px 0;
		& img {
			width: 160px;
			height: 158px;
		}
	}
	&-cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
		
		}
	}
	&-arrow {
		width: 23%;
		@media screen and (max-width: 1024px) {
			width: 45%;
		}
		@media screen and (max-width: 580px) {
			width: 100%;
		}
	}
}