.birel {
	padding-bottom: 150px;
	@media screen and (max-width: 1024px) {
		padding-bottom: 50px;
	}
	& .content-block-left {
		@media screen and (max-width: 1440px){
			width: 40%;
		}
		@media screen and (max-width: 1280px){
			width: 40%;
		}
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
		& h1 {
			height: 176px;
		}
	}
	& .content-block-right {
		@media screen and (max-width: 1024px) {
			height: 400px;
			top: 70px;
			display: none;
		}
		& svg {
			@media screen and (max-width: 1440px){
				width: 570px;
			}
			@media screen and (max-width: 1024px) {
				width: 100vw;
			}
		}
	}
}
.content-block {
	display: flex;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
	&-left {
		width: 50%;
		position: relative;
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
		& .title {
			margin-bottom: 40px;
		}
		& .btn-group {
			margin-top: 50px;
		}
	}
	&-right {
		width: 50%;
		position: relative;
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
		& .top-block {
			position: absolute;
			height: 100%;
			& svg {
				position: absolute;
				top: -640px;
				left: -30px;
				z-index: 15;
				@media screen and (max-width: 1024px) {
					left: 0;
				}
			}
		}
		& .mid-block {
			position: absolute;
			height: 100%;
			& svg {
				position: absolute;
				top: -70px;
				left: 640px;
				z-index: 10;
			}
		}
		& .bot-block {
			position: absolute;
			height: 100%;
			& svg {
				position: absolute;
				bottom: -640px;
				left: 30px;
				z-index: 5;
				@media screen and (max-width: 1024px) {
					left: 0;
				}
			}
		}
    }
}