.content-block {
	&.f {
		margin-top: 100px;
		@media screen and (max-width: 1024px) {
			margin-top: 0;
		}
	}
	&-wrapper {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}
	&-title {
		width: 40%;
		max-width: 520px;
		@media screen and (max-width: 1024px) {
			width: 100%;
			max-width: 100%;
			position: relative;
		}
		& h1 {
			margin-bottom: 55px;
		}
		& p {
			@media screen and (max-width: 768px) {
				text-align: justify;
				font-size: 18px;
			}
		}
	}
	&-img  {
		width: 60%;
		max-width: 920px;
		@media screen and (max-width: 1024px) {
			width: 100%;
			max-width: 100%;
		}
		& svg {
			width: 100%;
			height: auto;
		}
	}
}