.block-mission {
	display: flex;
	&-left {width: 50%;
		& .title {
			margin-bottom: 45px;
		}
		& .btn {
			margin-top: 70px;
		}
	}
	&-right {
		width: 50%;
		background-image: url("../../img/bg-3.svg");
		background-repeat: no-repeat;
		& .img-candels {
			width: 410px;
			margin: 0 auto;
			display: block;
			position: relative;
			top:50px;
		}
	}
}