.investor {
	margin-top: 150px;
	
	@media screen and (max-width: 1024px) {
		margin-top: 50px;
	}
	& .content-block-left {
		padding-left: 147px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (max-width: 1024px) {
			padding: 50px 0;
		}
		& .t-r {
			width: 80%;
			@media screen and (max-width: 1024px) {
				width: 100%;
			}
		}
	}
	& .content-block-right {
		padding: 22px 84px 143px;
		background: $gradient;
		@media screen and (max-width: 1024px) {
			padding: 28px 84px 28px;
		}
	}
}