.content-text {
	display: flex;
	flex-direction: column;
	& .title {
		width: 32%;
		height: 140px;
		margin-bottom: 25px;
		@media screen and (max-width: 1440px) {
			width: 50%;
		}
		@media screen and (max-width: 1024px) {
			width: 66%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		@media screen and (max-width: 580px) {
			height: 110px;
			font-size: 40px;
			line-height: 52px;
		}
	}
	& .title + p {
		margin-bottom: 35px;
	}
	& p {
		width: 64.5%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}