.content-block-grid {
	display: grid;
	grid-template-areas:
        "title img"
        "text text";
	grid-template-columns: 50% 50%;
	margin-bottom: 120px;
	@media screen and (max-width: 1024px) {
		margin-bottom: 80px;
	}
	@media screen and (max-width: 768px) {
		grid-template-areas:
        "title"
        "img"
        "text";
		grid-template-columns: 100%;
		margin-bottom: 50px;
	}
	@media screen and (max-width: 425px) {
	
	}
	& .content-block-title {
		position: relative;
		z-index: 1;
		grid-area: title;
		& h1 {
			width: 61%;
			height: 140px;
			margin-bottom: 25px;
			@media screen and (max-width: 1440px) {
				width: 100%;
			}
			@media screen and (max-width: 580px) {
				height: 110px;
				font-size: 42px;
				line-height: 52px;
			}
		}
		& p {
			margin-right: 20px;
		}
	}
	& .content-block-img {
		grid-area: img;
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 1;
		& img {
			width: 500px;
			@media screen and (max-width: 1024px) {
				width: 400px;
			}
			@media screen and (max-width: 425px) {
				width: 100%;
			}
		}
	}
	& .content-block-text {
		grid-area: text;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		@media screen and (max-width: 1024px) {
			padding: 50px 0 10px;
		}
		& div {
			position: relative;
			bottom: -20px;
		}
		& p {
			width: 50%;
			position: relative;
			z-index: 1;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
}