$white: #fff;
$white2: #F6F4FF;

$grey: #C4C4C4;
$grey-lite: #C0BCD6;

$purple: #573CDA;
$purple-hover: #5634F7;
$purple2: #515994;
$purple3: #2A206A;

$green: #1BC082;
$green-hover: #23C89A;

$black: #000;

$gradient: linear-gradient(208.1deg, #F6F4FF 7.35%, #E5DDFA 79.61%);
$gradient-two: linear-gradient(93.19deg, #573CDA 10.16%, #3D2B93 97.41%);

$box-shadow: 6px 6px 64px rgba(0, 0, 0, 0.25);
$box-shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);

$A-r: "anton-Regular";
$WS-r: "WorkSans-Regular";
$WS-m: "WorkSans-Medium";
$WS-sb: "WorkSans-SemiBold";

.bg-site {
	padding: 0;
}
.bg-login {
	background-color: $purple;
	height: calc(100vh - 276px);
	display: flex;
	align-items: center;
	padding: 150px 0 24px;
	@media screen and (max-height: 900px) {
		height: auto;
	}
	@media screen and (max-width: 1024px) {
		height: calc(100vh - 340px);
	}
}

.login {
	background-color: $white;
	padding: 50px;
	width: 365px;
	margin: 0 auto;
	@media screen and (max-width: 425px) {
		padding: 25px 20px;
		width: 100%;
	}
	&-container {
	
	}
	&-title {
		margin-bottom: 50px;
		@media screen and (max-width: 425px) {
			font-size: 22px;
		}
	}
	& a:hover  {
		text-decoration-line: underline;
	}
	&-form {
		
		&-box {
			margin-bottom: 50px;
			position: relative;
			& a {
				position: absolute;
				right: 0;
				top: calc(50% - 8px);
				z-index: 10;
			}
		}
		
		&-box:first-child,
		&-box:last-child {
			margin-bottom: 20px;
		}
	}
	&-text {
		text-align: center;
	}
	
}
